#edu{
    .edu-item{
        padding: 50px;
        border-radius: 8px;
        margin-bottom: 25px;
    }
    .gradient-1{
        background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    }
    .gradient-2{
        background-image: linear-gradient(to right,#d31f07 0%,#dfd110 100%);
    }
    .gradient-3{
        background-image: linear-gradient(to right,#e00d65 0%,#df1ae6 100%);
    }
    .gradient-4{
        background-image: linear-gradient(to right,#07d311 0%,#0dda9c 100%);
    }
}